section {
  @include flexbox;
  @include align-items(center);
  @include flex-direction(column);
  width: 100%;
}

.section-container {
  max-width: 1050px;
  padding: 0 20px;
  width: 100%;
  position: relative;
  border: 1px solid black;
  height: 100vh;
  @media screen and (min-width: 1500px) {
    max-width: 1250px;
  }
  @media screen and (max-width: 1200px) {
    max-width: 960px;
  }
  @media screen and (max-width: 992px) {
    max-width: 940px;
  }
  @media screen and (max-width: 768px) {
    max-width: 720px;
  }
  @media screen and (max-width: 544px) {
    max-width: 576px;
  }
}

.section--center {
  @include flexbox;
  @include align-items(center);
  @include justify-content(flex-start);
}
