.device-container {
  position: absolute;
  right: 500px;
}

.device {
  position: fixed;
  top: 50%;
  -webkit-transform: -webkit-translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.iphone-screen,
.device-screen2 {
  width: 128px;
  top: 100px;
  left: 7px;
  position: absolute;
  z-index: 3;
}

.ipad-screen {
  position: absolute;
  width: 265px;
  right: 19px;
  top: 37px;
  z-index: 2;
}

.device-screen2 {
  background: red;
}

embed,
.iphone,
.ipad {
  width: 400px;
}

.iphone {
  z-index: 2;
}

.iphone,
.ipad {
  position: absolute;
  top: 0;
}
