.device-container {
  position: absolute;
  right: 500px;
}

.device {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

.device-screen,
.device-screen2 {
  background: yellow;
  width: 200px;
  height: 300px;
  position: absolute;
  //z-index: -1;
}

.device-screen2 {
  background: red;
}

embed,
.iphone {
  width: 400px;
}

.iphone {
  position: absolute;
  top: 0;
}
