.device-container {
  position: absolute;
  right: 200px;
}

.device {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

.device img {
  width: 200px;
}

.device-screen,
.device-screen2 {
  background: yellow;
  width: 200px;
  height: 300px;
  position: absolute;
  //z-index: -1;
}

.device-screen2 {
  background: red;
}
