@import url('https://fonts.googleapis.com/css?family=Oswald');

$title-font: 'Oswald', sans-serif;
/* font-size */
$font-size-xs: 16px;
$font-size-s: 18px;
$font-size-m: 24px;
$font-size-l: 32px;
$font-size-xl: 48px;
$font-size-xxl: 70px;

/* font-weight */
$light: 300;
$normal: 400;
$bold: 700;

body, h1, h2, h3, h4, div, p {
  font-family: $title-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; /* for firefox font */
}
