@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Lato');

$title-font: 'Oswald', sans-serif;
$body-font: 'Lato', sans-serif;
/* font-size */
$font-size-xs: 16px;
$font-size-s: 18px;
$font-size-m: 24px;
$font-size-l: 32px;
$font-size-xl: 48px;
$font-size-xxl: 70px;

/* font-weight */
$light: 300;
$normal: 400;
$bold: 700;

body, h1, h2, h3, h4, div, p {
  font-family: $title-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; /* for firefox font */
}

p,
a {
  line-height: 1.4;
  font-family: $body-font;
}

h2 {
  font-size: $font-size-xl;
  font-weight: $bold;
  margin-bottom: 20px;
}
